In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=5cba9c891728fac904f57c129ef537fcb42f0ff6aad84b784cb365b8c97cf75c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Loan approval").getOrCreate()

In [ ]:
sc = spark.sparkContext

In [ ]:
filepath = '/content/loan_approval_dataset.csv'

In [ ]:
data = spark.read.csv(filepath,header=True,inferSchema=True)

In [ ]:
data.show()

+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|loan_id| no_of_dependents|    education| self_employed| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|      1|                2|     Graduate|            No|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|
|      2|                0| Not Graduate|           Yes|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|
|      3|                3|     Graduate|            No|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|
|      4|                3|     Graduate|            No|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|
|      5|                5| Not Graduate|           Yes|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|
|      6|                0|     Graduate|           Yes|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|
|      7|                5|     Graduate|            No|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|
|      8|                2|     Graduate|           Yes|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|
|      9|                0|     Graduate|           Yes|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|
|     10|                5| Not Graduate|            No|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|
|     11|                4|     Graduate|           Yes|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|
|     12|                2| Not Graduate|           Yes|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|
|     13|                3| Not Graduate|           Yes|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|
|     14|                2|     Graduate|           Yes|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|
|     15|                1| Not Graduate|            No|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|
|     16|                5| Not Graduate|            No|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|
|     17|                2|     Graduate|           Yes|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|
|     18|                4| Not Graduate|           Yes|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|
|     19|                2|     Graduate|            No|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|
|     20|                5|     Graduate|            No|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
only showing top 20 rows

In [ ]:
data.printSchema()

root
 |-- loan_id: integer (nullable = true)
 |--  no_of_dependents: integer (nullable = true)
 |--  education: string (nullable = true)
 |--  self_employed: string (nullable = true)
 |--  income_annum: integer (nullable = true)
 |--  loan_amount: integer (nullable = true)
 |--  loan_term: integer (nullable = true)
 |--  cibil_score: integer (nullable = true)
 |--  residential_assets_value: integer (nullable = true)
 |--  commercial_assets_value: integer (nullable = true)
 |--  luxury_assets_value: integer (nullable = true)
 |--  bank_asset_value: integer (nullable = true)
 |--  loan_status: string (nullable = true)

In [ ]:
data.count()

4269

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
import pyspark.sql.functions as F
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
indexer = StringIndexer(inputCol=' loan_status', outputCol='Approval_Status').fit(data)
data = indexer.transform(data)

In [ ]:
data.show()

+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------+
|loan_id| no_of_dependents|    education| self_employed| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|Approval_Status|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------+
|      1|                2|     Graduate|            No|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|            0.0|
|      2|                0| Not Graduate|           Yes|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|            1.0|
|      3|                3|     Graduate|            No|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|            1.0|
|      4|                3|     Graduate|            No|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|            1.0|
|      5|                5| Not Graduate|           Yes|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|            1.0|
|      6|                0|     Graduate|           Yes|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|            1.0|
|      7|                5|     Graduate|            No|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|            0.0|
|      8|                2|     Graduate|           Yes|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|            1.0|
|      9|                0|     Graduate|           Yes|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|            0.0|
|     10|                5| Not Graduate|            No|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|            1.0|
|     11|                4|     Graduate|           Yes|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|            0.0|
|     12|                2| Not Graduate|           Yes|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|            1.0|
|     13|                3| Not Graduate|           Yes|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|            1.0|
|     14|                2|     Graduate|           Yes|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|            0.0|
|     15|                1| Not Graduate|            No|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|            1.0|
|     16|                5| Not Graduate|            No|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|            0.0|
|     17|                2|     Graduate|           Yes|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|            0.0|
|     18|                4| Not Graduate|           Yes|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|            0.0|
|     19|                2|     Graduate|            No|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|            0.0|
|     20|                5|     Graduate|            No|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|            0.0|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------+
only showing top 20 rows

In [ ]:
data = data.drop(' self_employed')
data = data.drop(' education')
data = data.drop(' loan_status')
data.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value|Approval_Status|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+
|      1|                2|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|            0.0|
|      2|                0|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|            1.0|
|      3|                3|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|            1.0|
|      4|                3|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|            1.0|
|      5|                5|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|            1.0|
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|            1.0|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|            0.0|
|      8|                2|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|            1.0|
|      9|                0|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|            0.0|
|     10|                5|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|            1.0|
|     11|                4|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|            0.0|
|     12|                2|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|            1.0|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|            1.0|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|            0.0|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|            1.0|
|     16|                5|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|            0.0|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|            0.0|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|            0.0|
|     19|                2|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|            0.0|
|     20|                5|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|            0.0|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+
only showing top 20 rows

In [ ]:
inputcolumns = [' no_of_dependents',' income_annum',' loan_amount',' loan_term',
                ' cibil_score',' residential_assets_value',' commercial_assets_value',
                ' luxury_assets_value',' bank_asset_value']

In [ ]:
for i in inputcolumns:
  data = data.withColumn(i,data[i].cast(IntegerType()))

In [ ]:
data.printSchema()

root
 |-- loan_id: integer (nullable = true)
 |--  no_of_dependents: integer (nullable = true)
 |--  income_annum: integer (nullable = true)
 |--  loan_amount: integer (nullable = true)
 |--  loan_term: integer (nullable = true)
 |--  cibil_score: integer (nullable = true)
 |--  residential_assets_value: integer (nullable = true)
 |--  commercial_assets_value: integer (nullable = true)
 |--  luxury_assets_value: integer (nullable = true)
 |--  bank_asset_value: integer (nullable = true)
 |-- Approval_Status: double (nullable = false)

In [ ]:
data = data.na.fill(0.0)

# Replace infinite values with a large finite value (e.g., 1e10)
data = data.na.replace(float('inf'), 1.0e10)

In [ ]:
d = VectorAssembler(inputCols = inputcolumns, outputCol = 'features')
data = d.transform(data)

In [ ]:
data.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+--------------------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value|Approval_Status|            features|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+--------------------+
|      1|                2|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|            0.0|[2.0,9600000.0,2....|
|      2|                0|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|            1.0|[0.0,4100000.0,1....|
|      3|                3|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|            1.0|[3.0,9100000.0,2....|
|      4|                3|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|            1.0|[3.0,8200000.0,3....|
|      5|                5|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|            1.0|[5.0,9800000.0,2....|
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|            1.0|[0.0,4800000.0,1....|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|            0.0|[5.0,8700000.0,3....|
|      8|                2|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|            1.0|[2.0,5700000.0,1....|
|      9|                0|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|            0.0|[0.0,800000.0,220...|
|     10|                5|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|            1.0|[5.0,1100000.0,43...|
|     11|                4|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|            0.0|[4.0,2900000.0,1....|
|     12|                2|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|            1.0|[2.0,6700000.0,2....|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|            1.0|[3.0,5000000.0,1....|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|            0.0|[2.0,9100000.0,3....|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|            1.0|[1.0,1900000.0,74...|
|     16|                5|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|            0.0|[5.0,4700000.0,1....|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|            0.0|[2.0,500000.0,160...|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|            0.0|[4.0,2900000.0,94...|
|     19|                2|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|            0.0|[2.0,2700000.0,1....|
|     20|                5|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|            0.0|[5.0,6300000.0,1....|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+--------------------+
only showing top 20 rows

In [ ]:
train, test = data.randomSplit([0.8,0.2], seed=11)

In [ ]:
train.count()

3437

In [ ]:
test.count()

832

***Logistic Regression***

In [ ]:
from pyspark.ml.classification import LogisticRegression

log = LogisticRegression(featuresCol='features',
                             labelCol='Approval_Status')

In [ ]:
pipe = Pipeline(stages = [log])

In [ ]:
fit_model = pipe.fit(train)

In [ ]:
results = fit_model.transform(test)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
res = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='Approval_Status')
efficiency = res.evaluate(results)

In [ ]:
print("Accuracy of the model is: ",efficiency*100,"%")

Accuracy of the model is:  91.45854145854146 %

In [ ]:
results.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+--------------------+--------------------+--------------------+----------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value|Approval_Status|            features|       rawPrediction|         probability|prediction|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+--------------------+--------------------+--------------------+----------+
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|            1.0|[0.0,4800000.0,1....|[-5.1985686643290...|[0.00549411408268...|       1.0|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|            0.0|[5.0,8700000.0,3....|[5.62237901680803...|[0.99639700027294...|       0.0|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|            1.0|[3.0,5000000.0,1....|[-6.7187347332975...|[0.00120660811080...|       1.0|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|            0.0|[2.0,9100000.0,3....|[3.53569847596836...|[0.97168660941727...|       0.0|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|            1.0|[1.0,1900000.0,74...|[-0.5158791458191...|[0.37381633100000...|       1.0|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|            0.0|[2.0,500000.0,160...|[4.46065320392967...|[0.98857717543130...|       0.0|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|            0.0|[4.0,2900000.0,94...|[5.92122972395768...|[0.99732527319877...|       0.0|
|     22|                4|      5800000|    14000000|        16|         530|                  3800000|                11300000|            22200000|          5400000|            1.0|[4.0,5800000.0,1....|[-0.9762266718030...|[0.27364113572183...|       1.0|
|     28|                4|      2400000|     5600000|         4|         662|                  4500000|                 4200000|             5400000|          2500000|            0.0|[4.0,2400000.0,56...|[4.09225012066433...|[0.98357275091043...|       0.0|
|     30|                3|      9000000|    31500000|        10|         850|                 21800000|                12400000|            33700000|          8000000|            0.0|[3.0,9000000.0,3....|[9.10967206795105...|[0.99988942125350...|       0.0|
|     33|                1|       800000|     1600000|        10|         436|                   700000|                  200000|             2200000|          1000000|            1.0|[1.0,800000.0,160...|[-2.2593880236178...|[0.09454274383195...|       1.0|
|     38|                5|      8000000|    27200000|         6|         348|                  6400000|                  300000|            16700000|          7100000|            1.0|[5.0,8000000.0,2....|[-3.9900620066507...|[0.01816258524903...|       1.0|
|     40|                3|      1500000|     5100000|         6|         352|                   100000|                  200000|             5600000|           900000|            1.0|[3.0,1500000.0,51...|[-3.6821836170965...|[0.02455008217878...|       1.0|
|     48|                1|      4900000|    19100000|        14|         677|                  5400000|                 9100000|            17700000|          6500000|            0.0|[1.0,4900000.0,1....|[4.13523082827111...|[0.98425296468362...|       0.0|
|     52|                2|      8700000|    24700000|        10|         435|                  6800000|                 3500000|            21800000|         11300000|            1.0|[2.0,8700000.0,2....|[-2.5797026637049...|[0.07045620159177...|       1.0|
|     68|                0|      2700000|    10100000|        20|         693|                   200000|                 1700000|             5900000|          1400000|            1.0|[0.0,2700000.0,1....|[3.02104689009994...|[0.95351594912920...|       0.0|
|     72|                5|      5300000|    18600000|         4|         386|                  2700000|                 9700000|            11900000|          4200000|            0.0|[5.0,5300000.0,1....|[-2.5305208148427...|[0.07374606310155...|       1.0|
|     76|                2|      1900000|     6500000|        18|         671|                   600000|                 2500000|             4800000|          1100000|            0.0|[2.0,1900000.0,65...|[2.63072934770470...|[0.93281327401196...|       0.0|
|     79|                2|      8500000|    29400000|        12|         576|                 17600000|                 5600000|            25200000|          9000000|            0.0|[2.0,8500000.0,2....|[1.51933549793838...|[0.82044060844377...|       0.0|
|     89|                4|      2000000|     8000000|         6|         837|                  5100000|                 2600000|             3900000|          2900000|            0.0|[4.0,2000000.0,80...|[8.70238732223024...|[0.99983383902274...|       0.0|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

***random Forest***

In [ ]:
from pyspark.ml.classification import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(labelCol="Approval_Status", featuresCol="features", numTrees=100)

In [ ]:
model = rf.fit(train)

In [ ]:
predictions = model.transform(test)

In [ ]:
evaluator = BinaryClassificationEvaluator(labelCol="Approval_Status", rawPredictionCol="prediction")
accuracy = evaluator.evaluate(predictions)
print(f"Accuracy: {accuracy*100}")

Accuracy: 95.5211455211455

In [ ]:
feature_importances = model.featureImportances
print("Feature Importances:")
for i in range(len(inputcolumns)):
    print(f"{inputcolumns[i]}: {feature_importances[i]}")
    print()

Feature Importances:
 no_of_dependents: 0.004427422251825267

 income_annum: 0.006839974195924856

 loan_amount: 0.009514650251533485

 loan_term: 0.058980913805201186

 cibil_score: 0.8947365981530596

 residential_assets_value: 0.0050742411518231376

 commercial_assets_value: 0.007304527111556599

 luxury_assets_value: 0.007224478356102984

 bank_asset_value: 0.005897194722972775

In [ ]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
paramGrid = (ParamGridBuilder()
             .addGrid(rf.numTrees, [10, 50, 100])
             .addGrid(rf.maxDepth, [5, 10, 15])
             .build())

In [ ]:
evaluator_after_parameter = BinaryClassificationEvaluator(labelCol="Approval_Status", rawPredictionCol="prediction")

In [ ]:
cv = CrossValidator(estimator=rf, estimatorParamMaps=paramGrid, evaluator=evaluator_after_parameter, numFolds=5)

In [ ]:
cvModel = cv.fit(train)

In [ ]:
best_rf_model = cvModel.bestModel

In [ ]:
test_results = best_rf_model.transform(test)
accuracy_after_parameter = evaluator_after_parameter.evaluate(test_results)

In [ ]:
best_num_trees = best_rf_model.getNumTrees
best_max_depth = best_rf_model.getMaxDepth()

print("Best Hyperparameters:")
print(f"Number of Trees: {best_num_trees}")
print(f"Max Depth: {best_max_depth}")
print()
print(f"AND THEY GIVE OUT ACCURACY AS: {accuracy_after_parameter*100}")

Best Hyperparameters:
Number of Trees: 100
Max Depth: 15

AND THEY GIVE OUT ACCURACY AS: 95.39627039627038

In [ ]:
print('Difference in ACCURACY after HyperParameter Tuning is',(accuracy_after_parameter-accuracy)*100)

Difference in ACCURACY after HyperParameter Tuning is -0.12487512487511232

***K NEAREST NEIGHBOR***

In [ ]:
from pyspark.ml.classification import GBTClassifier

In [ ]:
gbt = GBTClassifier(labelCol="Approval_Status", featuresCol="features", maxIter=10)

In [ ]:
pipeline = Pipeline(stages=[gbt])

In [ ]:
model = pipeline.fit(train)

In [ ]:
predictions_gbt = model.transform(test)

In [ ]:
evaluator = BinaryClassificationEvaluator(labelCol="Approval_Status", rawPredictionCol="prediction")
accuracy_gbt = evaluator.evaluate(predictions_gbt)

In [ ]:
accuracy_gbt

0.9444721944721944

In [ ]:
paramGrid_gbt = (ParamGridBuilder()
    .addGrid(gbt.maxIter, [10, 20, 30])
    .addGrid(gbt.maxDepth, [3, 5, 7])
    .addGrid(gbt.stepSize, [0.1, 0.01])
    .build())

In [ ]:
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid_gbt,
                          evaluator=evaluator,
                          numFolds=5)

In [ ]:
cvModel_gbt = crossval.fit(train)

In [ ]:
 bestModel_gbt = cvModel_gbt.bestModel
bestMaxIter = bestModel_gbt.stages[1].getMaxIter()
bestMaxDepth = bestModel_gbt.stages[1].getMaxDepth()
bestStepSize = bestModel_gbt.stages[1].getStepSize()

In [ ]:
predictions_gbt = bestModel_gbt.transform(test)

In [ ]:
bestaccuracy_gbt = evaluator.evaluate(predictions_gbt)
print(f"Best Max Iter: {bestMaxIter}")
print(f"Best Max Depth: {bestMaxDepth}")
print(f"Best Step Size: {bestStepSize}")
print()
print(f"AND THEY GIVE OUT ACCURACY AS: {bestaccuracy_gbt*100}")